body {
    background-color: #eeeeee;
}

.blog-header {
    position: static;
    line-height: 1;
    border-bottom: 1px solid #dbdbdb;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}





/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination .btn {
    border-radius: 2rem;
    margin: 0 0.1rem 0;
}

.inline {
    display: inline;
}

#before-page, #after-page {
    display: none;
}

.cursor-default {
    cursor: default;
}





/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
    position: relative;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}





/*
 * Footer
 */
.blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}





/* Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -25px 0 0 -25px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #404040;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.5s;
    animation-name: animatebottom;
    animation-duration: 0.5s;
    display: none;
    flex-direction: column;

    min-height: 100vh;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -2rem;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -2rem;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}





/*Spinner*/
#spinner,
#spinner_pass {
    display: none;
}





/*Button view password*/
.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 9px;
    right: 9px;
    color: #6c6c6c;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.form-signin .password-control {
    top: 13px;
    right: 13px;
}

.password-control:hover {
    color: #494949;
}

.bi {
    position: absolute;
}

#eye_slash, #eye_slash_c {
    display: none;
}





/*Burger menu*/
.burger-menu_button {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #6c6c6c;
    transition: background-color 0.2s ease;
}

.burger-menu_button:hover {
    background-color: #6c6c6c;
}

.burger-menu_button:hover .burger-menu_lines,
.burger-menu_button:hover .burger-menu_lines::after,
.burger-menu_button:hover .burger-menu_lines::before{
    background-color: #eeeeee;
}

.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #6c6c6c;
    border-radius: 1px;
    transition: 0.2s ease;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -6px;
}

.burger-menu_lines::after {
    content: '';
    top: 6px;
}

.burger-menu_active .burger-menu_button:hover .burger-menu_lines {
    background-color: transparent;
    filter: brightness(0.7);
}

.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
    background-color: #eeeeee;

}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #eeeeee;
}

.burger-menu_nav {
    padding-top: 3rem;
    padding-bottom: .75rem;
    position: absolute;
    top: -21rem;
    z-index: 5;
    display: flex;
    flex-flow: column;
    width: 12rem;
    background-color: #6c6c6c;
    overflow-y: auto;
    right: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s ease;
}

.burger-menu_active .burger-menu_nav {
    top: -1rem;
    right: 0;
}

.burger-menu_link {
    padding: 0.75rem;
    font-size: 1.2em;
    text-decoration: none;
    color: #eeeeee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s ease;
}

.burger-menu_link:hover {
    text-decoration: none;
    color: #bababa;
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
}

.burger-menu_user {
    padding: 0.75rem;
    font-size: 1.5em;
    color: #eeeeee;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.logout {
    border-top: 1px solid #eeeeee;
    text-align: end;
    padding-bottom: 0.4rem;
}




/*Edit user*/
.container-box {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #adadad;
    border-radius: 10px;
}



/*List article*/
.article {
    position: relative;
    padding: 2rem;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0 0 5px #dcdcdc;
    transition: all 0.2s ease;
}

.article:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 10px #d5d5d5;
}

.div-button {
    position: absolute;
    right: 2rem;
    bottom: 1.7rem;
    z-index: 10;
}

.delete-button {
    margin: 0.2rem;
    width: 5rem;
    padding: 0.2rem;
}

.edit-button {
    margin: 0.2rem;
    width: 5rem;
    padding: 0.2rem;
}

/*Meta information*/
.meta-inform {
    display: flex;
    flex-direction: row;
}

.views {
    position: relative;
    left: 2rem;
    color: #999999;
}

.section {
    position: absolute;
    right: 2rem;
    font-weight: bold;
    color: #999999;
}



/*Content Block*/
.flex-box {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.max-content {
    flex-grow: 1;
    justify-content: center;
}

.display-flex {
    display: flex;
}

.main-container {
    flex-grow: 1;
}



/*Error Container*/
.error-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.error-text {
    position: absolute;
    top: 38vh;
    padding: 0 2vh 0;

    color: #333333;
}

.error-container h1 {
    font-size: 10vh;
    font-family: "Segoe Print", sans-serif;
    font-weight: bold;
}

.error-container h2 {
    text-align: center;
    font-size: 4vh;
    font-family: "Segoe Print", sans-serif;
}

.error-container img {
    height: 60vh;
    border: 1px solid #dedede;
    border-radius: 20px;
    box-shadow: 0 0 5px #dcdcdc;
}

/*Social buttons*/

.facebook {
    --f-text-color: #1877F2;
    --f-back-color: #eeeeee;
    --f-time: 0.2s;
    border-color: var(--f-text-color);
    color: var(--f-text-color);
    transition: color, var(--f-time);
}

.f_circle {
    fill: var(--f-text-color);
    transition: color, var(--f-time);
}

.f_char {
    fill: var(--f-back-color);
    transition: color, var(--f-time);
}

.facebook:hover {
    --f-text-color: #eeeeee;
    --f-back-color: #1877F2;
    background-color: var(--f-back-color);
    border-color: var(--f-text-color);
}

.google {
    --g-text-color: #DC4E41;
    --g-back-color: #eeeeee;
    --g-time: 0.2s;
    border-color: var(--g-text-color);
    color: var(--g-text-color);
    transition: color, var(--g-time);
}

.g_circle {
    fill: var(--g-text-color);
    transition: color, var(--g-time);
}

.g_char {
    fill: var(--g-back-color);
    transition: color, var(--g-time);
}

.google:hover {
    --g-text-color: #eeeeee;
    --g-back-color: #DC4E41;
    background-color: var(--g-back-color);
    border-color: var(--g-text-color);
}

/*Search in header*/
#search_button_header {
    margin: 0 15px 0 10px;
    width: 30px;
}

#search_input_header {
    display: none;
    width: 66%;
}